# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.for
*.opt

# doc folder
doc/

# test folder
powr/*

# testmodels
testmodels/

# but include dummychain and proc.dir
!powr/dummychain
!powr/proc.dir
!powr/.powrconfig